# Virtual environment
.venv/
venv/
env/

# Data
data/raw/
data/interim/
data/processed/*.db
data/processed/*.sqlite

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Environment variables
.env
.env.local

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
*.tmp
*.bak

# Streamlit secrets
.streamlit/secrets.toml